/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: #110f0e;
    color: rgb(247, 243, 243);
}

header .logo {
    height: 100px;
    width: 100px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.background {
    position: relative;
    background: url('Background-compressed.jpg') no-repeat center center/cover;
    height: 120px;
    opacity: 0.8;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}
.image-text img {
    width: 350px;
    margin-right: 20px;
}


.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-top: auto;
}


.video iframe {
    width: 100%;
    height: 300px;
}

footer {
    background-color: hsl(310, 49%, 50%);
    color: rgb(37, 37, 19);
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background: #86bd08;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(48, 37, 37, 0.1);
}

input[type=text],
input[type=email],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #fcfbfb;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-right: 10px;
}

.footer {
    background-color: rgb(45, 164, 201);
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #0a0909;
}